.navbar {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
}

.navbar-centrada {
  justify-content: center; 
}

.navbar-centrada .navbar-logo {
  position: absolute;
  left: 40px;
}

.navbar-centrada .navbar-button {
  position: absolute;
  right: 40px;
  margin-left: 0;
}

.navbar-logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

.navbar-centrada .navbar-links {
  margin-left: 0;
}

.navbar-links li {
  margin-right: 25px;
  /* Transición para el escalado */
  transition: transform 0.3s ease-in-out; 
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  display: inline-block; /* Necesario para que la transformación funcione correctamente */
  transition: all 0.3s ease-in-out; 
}

/* Estilo para el ENLACE ACTIVO (Escalado y Color Marrón) */
.enlace-activo {
  color: #A0522D !important; /* Color del texto Marrón */
  transform: scale(1.30); /* Aumenta el tamaño un 15% */
}

.navbar-button {
  margin-left: auto;
  padding: 10px 24px;
  background-color: #A0522D; 
  border: none;
  border-radius: 6px;
  color: #fff; 
  font-weight: 500;
  cursor: pointer;
}